#main_container {
  background-color: #e7bf8a;
  height: 60vh;
  width: 70%;
  margin: auto;
}

#variant_fields {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.variant_field_container {
  margin-top: 10px;
}